.text-wrap-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .text-wrap-image {
    float: left;
    width: 150px;
    margin-right: 40px;
  }
  
  .text-wrap-text {
    margin: 0;
    text-align: left;
  }
  