.text-wrap-container {
    display: flex;
    align-items: flex-start;
  }
  
  .text-wrap-image {
    float: left;
    width: 200px;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .text-wrap-text {
    margin: 0;
  }
  