/*--------START OF VARIABLES--------*/
:root {
  --primary-color: #18122B;
  --secondary-color: #635985;
  --third-color: #7d70a6;
  
  --cell-border-color: #7d70a6;
  --cell-fill-color: #7d70a6;
  --title-color: #F2F7A1;
  --submit-button-color: #C6EBBE;

  --random1: #C6EBBE;
  --random2: #F26430;

  --random4: #94B9AF;
  --random5: #CCA43B;
  --random6: #800E13;

  --random7: #db8640;
}
/*--------END OF VARIABLES--------*/

/*--------OVERALL--------*/
body {
  background-color: var(--primary-color); /* Set the background color to gray */
}
/*--------OVERALL--------*/

/*--------START OF APPLICATION--------*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: "Source Code Pro";
  font-size: 4rem;
  color: white;
  text-align: center;
  top: 0vh;
  margin-top: 0px;
  margin-bottom: 0px;
  /* see if I can find a better way to center instead of margin-top later */
}

.program {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

/*--------START OF ICONS SECTION--------*/
.icon-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: -40px;
}

.icon-button {
  width: 125px;
  height: 50px;
  background-color: var(--cell-fill-color);
  border: 1px solid var(--cell-border-color);
  color: white;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.icon-button:hover {
  background-color: var(--cell-border-color); /* Green */
  color: white;
}

/*--------END OF ICONS SECTION--------*/

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  padding: 20px;
  border: 2px solid var(--random4);
  border-radius: 5px;
}

/*--------START OF SETTINGS SECTION--------*/

.settings {
  width: 25%;
  height: auto;
  display: flex;
  border: 2px solid var(--random4);
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  overflow: hidden;
}

.form-components-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.settings-input-container {
  /* border: 1px solid var(--cell-border-color); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* font-family: "Source Code Pro"; */
  font-size: 1rem;
  color: white;
  text-align: center;
  top: 0vh;

  margin-left: 10px;
  margin-right: 10px;
}

.settings-input {
  width: 120px;
  height: 30px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.submit-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.animation-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.animation-button {
  width: 125px;
  height: 50px;
  background-color: var(--cell-fill-color);
  border: 2px solid var(--cell-border-color);
  color: white;
  font-size: 1rem;

  margin-right: -2px;
  margin-bottom: -2px;
  /* make padding a variable? */
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
}

.animation-button:hover {
  background-color: var(--cell-border-color); /* Green */
  color: white;
}

.submit-button {
  width: 125px;
  height: 50px;
  background-color: var(--random7);
  border: 1px solid var(--random7);
  color: black;
  font-size: 1rem;
  /* make padding a variable? */
  /* padding: 15px 32px; */
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.submit-button:hover {
  background-color: #a96630; /* Green */
  border: 1px solid #a96630;
  color: white;
}

/*--------END OF SETTINGS SECTION--------*/
/*--------END OF APPLICATION--------*/