/*--------START OF VARIABLES--------*/
:root {
  --primary-color: #18122B;
  --secondary-color: #635985;
  --third-color: #7d70a6;
  
  --cell-border-color: #7d70a6;
  --cell-fill-color: #F2F7A1;
  --title-color: #F2F7A1;
  --submit-button-color: #C6EBBE;

  --random1: #C6EBBE;
  --random2: #F26430;

  --random4: #94B9AF;
}
/*--------END OF VARIABLES--------*/

.cell {
    border: 1px solid var(--cell-border-color);
    border-radius: 8px;
    float: left;

    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}