/*--------START OF VARIABLES--------*/
:root {
    --primary-color: #18122B;
    --cell-border-color: #7d70a6;
    --cell-fill-color: #635985;
    --title-color: #F2F7A1;

    --submit-button-color: #C6EBBE;

    --random4: #94B9AF;

    --paper-color: #E0C9A6;

    --button1: #464655;

    --close-button: #aa906b;
    --close-button-hover: #877254;
  }
/*--------END OF VARIABLES--------*/

.rotated-text {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Trigger Start */
.popup-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 0px 10px 10px 0px;

    width: 30px;
    height: 80px;
    background-color: var(--primary-color);
    border: 1px solid var(--cell-border-color);
    color: white;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
}
  
.popup-button:hover {
    background-color: var(--cell-border-color); /* Green */
    color: white;
}

/*---------- MODAL INFORMATION ----------*/
.modal {
    width:100%;
    height: auto;
    text-align:justify;
    font-size: 20px;
    background-color: #DBBE9C;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
.modal > .header {
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.subsection {
    text-align: left;
}

.modal > .content {
    padding-left: 60px;
    padding-right: 60px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    width: auto;
}

.tab-indent {
    text-indent: 40px;
    line-height: 1.5;
    text-align: left;
}
.modal > .actions {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.action-button {
    background-color: var(--close-button);
    border: 1px solid var(--close-button);
    color: white;
    /* make padding a variable? */
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
}

.action-button:hover {
    background-color: var(--close-button-hover); /* Green */
    border: 1px solid var(--close-button-hover);
    color: white;
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
}
.popup-arrow {
    color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
    [data-popup='tooltip'].popup-overlay {
    background: transparent;
}

.popup-divider {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}