/*--------START OF VARIABLES--------*/
:root {
    --primary-color: #18122B;
    --cell-border-color: #7d70a6;
    --cell-fill-color: #635985;
    --title-color: #F2F7A1;
  }
/*--------END OF VARIABLES--------*/


.preset-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.preset-name {
    color: black;;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.preset-img {
    max-height: 200px;
    max-width: 90%;
}

.preset-description {
    font-size: 18px;
}

.preset-generate-button {
    background-color: var(--cell-border-color);
    border: 1px solid var(--cell-fill-color);
    color: white;
    /* make padding a variable? */
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
}

.preset-generate-button:hover {
background-color: var(--title-color); /* Green */
color: black;
}