/*--------START OF VARIABLES--------*/
:root {
    --primary-color: #18122B;
    --cell-border-color: #7d70a6;
    --cell-fill-color: #635985;
    --title-color: #F2F7A1;

    --generate-button: #777783;
    --generate-button-hover: #47474f;
  }
/*--------END OF VARIABLES--------*/


.preset-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.preset-name {
    color: black;
}

.preset-text {
    margin-left: 40px;
    margin-right: 40px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.preset-img {
    max-height: 200px;
    max-width: 90%;
    border-radius: 15px;
}

.preset-description {
    font-size: 18px;
}

.preset-generate-button {
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    color: black;
    /* make padding a variable? */
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
}

.preset-generate-button:hover {
    background-color: #47474f; /* Green */
}